= link_to t('.answer_the_pq'), {:controller => 'answering', :action => 'index', :id => pq_id, :remote => true}, {:class => 'answer-pq-link buttont('.id_answer_pq', pq_id: (pq_id))data-id' => pq_id }
div id="answer-pq-#{pq_id}" 