p
  = t('.hello_resource', resource: (@resource.email))
p= t('.someone_has_requested_a')
p= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token)
p= t('.if_you_didn_t')
p= t('.your_password_won_t')